<html>

<head>
    <title>Admin | [title;noerr]</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css">
    <link rel="stylesheet" href="https://unpkg.com/line-awesome@1.3.0/dist/line-awesome/css/line-awesome.min.css">
</head>

<body>

    <div class="container is-fluid px-0">
        <section id="header">[onload;file=_header.tbs.html]</section>
        <section id="main" class="mt-5 pt-5">
            <div class="columns">
                <div class="column is-one-quarter">
                    <nav class="panel ml-2 mt-4">
                        <div class="panel-block">[onload;file=_menu.tbs.html]</div>
                    </nav>
                </div>
                <div class="column">
                    <div class="hero-body p-5">
                        <p class="title">Admin | [title;noerr]</p>
                        <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
                            <thead>
                                <th>[fields.val;block=th]</th>
                            </thead>
                            <tbody>
                                <tr id="row-[rows.#;block=tr;sub1]">
                                    <td id="row-1-[rows_sub1.key;block=td]">[rows_sub1.val]</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
    </div>

</body>

</html>